<!DOCTYPE html>
<html>

<head>
<title>Electricity Test</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Expires" content="0">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-control" content="no-cache">
<meta http-equiv="Cache" content="no-cache">

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- jQuery UI -->
<link href="css/jquery-ui.css" rel="stylesheet" media="screen">

<!-- Bootstrap -->
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
<!-- styles -->
<link href="css/styles.css" rel="stylesheet">

<link href="css/font-awesome.css" rel="stylesheet">
<link href="vendors/form-helpers/css/bootstrap-formhelpers.min.css"
	rel="stylesheet">
<link href="vendors/select/bootstrap-select.min.css" rel="stylesheet">
<link href="vendors/tags/css/bootstrap-tags.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="DataTables/datatables.min.css"/>
<link href="css/forms.css" rel="stylesheet">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
<style type="text/css">
fieldset{
    padding:.35em .625em .75em;
    margin:0 2px;
    border:1px solid silver;
}
 
legend{
    padding:.5em;border:0;
    width:auto;
    font-size:15px;
    color: red;
    margin-bottom: 0px;

}

footer{
	padding-top: 10px ;
	height: 55px
}
</style>
</head>

<body>
	<form action="" method="post">

		<div class="header">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<!-- Logo -->
						<div class="logo">
							<h1>
								<a href="index.html"><sup>230</sup>电力模拟工具</a>
							</h1>
						</div>
					</div>
					<div class="col-md-8">
						<div class="row">
							<div class="col-md-12">
								<span class="input-group-btn" style="">
									<div class='col-md-4'>
										<button class="btn btn-danger" id="stopTest" type="button">停止测试</button>
									</div>
									<div class='col-md-2'>
										<button class="btn btn-info" id="export" type="button">导出</button>
										 <a href="" download="我是导出来的测试文件.xlsx" id="downloadA"></a>
									</div>
									<div class='col-md-2'>
										<button class="btn btn-info" id="retrun" type="button">
											<a href="forms2.html" >返回</a>
										</button>
									</div>
									<div class='col-md-4'>
										<button class="btn btn-danger" id="clearData" type="button">清空数据</button>
									</div>
								</span>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="page-content">
			<div class='row'>
				<div class="col-md-12 panel-warning">
					<div class="content-box-header panel-heading">
						<div class="panel-title "></div>

						<div class="panel-options">
							<a href="#" data-rel="collapse"><i
								class="glyphicon glyphicon-refresh"></i></a> <a href="#"
								data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
						</div>
					</div>
					<div class="content-box-large box-with-header"
						style="display: block; overflow-y: none;height: 485px; width: 1250px" id='show'
						>
						<label class="col-sm-12 control-label">测试列表<a href="#" id="testuenum"></a></label>
						<!-- <fieldset th:each="c,v:${rule}" th:title="${#strings.listJoin(c.ues,',')}"> 
						<legend th:text="'Type:'+${c.testType==0?'召测':'上报'}+'|上报数据包数='+${c.reportNum}+'|上报间隔='+${c.reportInterVal}+'|数据长度='+${c.dataSize}+'|端口号='+${c.port}+${c.testType==0?'|召测间隔'+c.callInterVal:'|上报周期'+c.reportTime}"></legend>
						<table class='table'>
							皇帝的表头  
							<thead th:style="${v.count!=1?'color:white':''}">
								<tr>
									<th>终端ip</th>
									<th>在线状态</th>
									<th>测试状态</th>
									<th>测试次数</th>
									<th>应收包数</th>
									<th>实收包数</th>
									<th>平均时延</th>
									<th>速度</th>
								</tr>
							</thead>
							
							<tbody id='tbody' th:each='c2,v2:${res}' th:if="${#strings.containsIgnoreCase(c.ues,c2.ip)}">
								<tr th:id="c+${#strings.replace(c2.ip,'.','c')}" th:class="${c2.onlineStatus==0&&c2.testStatus==0?'success':'danger'}">
								<td th:name="ip" th:text="${c2.ip}"></td>
								<td th:name="onlineStatus" th:text="${c2.onlineStatus==0?'在线':'掉线'}" ></td>
								<td th:name="testStatus" th:text="${c2.testStatus==0?'在线':'掉线'}"></td>
								<td th:name="testNum" th:text="${c2.testNum}"></td>
								<td th:name="needPack" th:text="${c2.needPack}"></td>
								<td th:name="realPack" th:text="${c2.realPack}"></td>
								<td th:name="maxDelay" th:text="${c2.maxDelay}"></td>
								<td th:name="avgDelay" th:text="${c2.avgDelay}"></td>
								</tr>
							</tbody>
						</table>
						</fieldset>-->
					</div>
				</div>
			</div>
		</div>

		<!--  Page content -->
		<footer>
			<div class="container" >

				<div class="copy text-center">
					Copyright 2019 <a href='#'>potevio</a>
				</div>
				
			</div>
		</footer>
	</form>
	<script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="js/cycle.js"></script>
	<script type="text/javascript" src="js/json2.js"></script>
	<script src="js/excel.js"></script>
	
	<script type="text/javascript">
	
	//Ajax长轮询技术
	//$('body').height(768);
    var getting1 = {

        url:'server.php',

        dataType:'json',

        success:function(res) {

         console.log(res);

         $.ajax(getting); //关键在这里，回调函数内再次请求Ajax

		},
        //当请求时间过长（默认为60秒），就再次调用ajax长轮询
        error:function(res){
        $.ajax($getting);
        }

	};
	
//$.ajax(getting);
	
	</script>
	<script type="text/javascript">
	
	
	</script>
	<script type="text/javascript">
		$(document).ready( function () {
		 var getting5 = {
		        url:'http://127.0.0.1:9001/sso/config/getall',
		        dataType:'json',
		        success:function(res) {
				//if(res.flag){
					if(res.flag){
						$('#show').prop("style","display: block; overflow-y: none; width: 1250px");
		        	 $.each(res.data,function(c,v){

		        		 var $list=new Array();
						 var $type="";
						 var style="";
						 if(v.testType=="0"){$type="招测"}else{$type="上报"};
						 if(c<0){
						 style="color:white";
						 }
						 $list=v.ueList;
						 $('#show').append("<fieldset title="+$list.toString()+"><legend>"+
						 $type+"-上报个数"+v.numOfPktsPerTime+"-上报间隔"+v.intervalOfPerTime+"-上报周期"+v.intervalOfPerPkt+"-端口号"+v.portNum+"-数据长度"+v.dataLength+"-招测长度"+v.callLength+"-分批时延"+v.batchDelay+"-单批数量"+v.batchNum+"</legend><table title="+$list.toString()+" class='table'><thead style='"+style+"'><tr><th>终端ip</th><th>在线状态</th>	<th>测试状态</th><th>测试次数</th><th>应收包数</th><th>实收包数</th><th>平均时延</th><th>速度</th><th>最近时延</th><th>丢包数</th></tr></thead></table></fieldset>");
					
		        	}) }else{
		        	 	alert(res.message);
		        	 };
					//}else
					//{
					//alert(res.message);
					//}}
					//alert(1);
					var tables=new Array();
					$('table').each(function(){
						var now=$(this);
						tables.push(now);
						//alert(2);
						var flagg=true;

						var test={
					   		"url": 'http://127.0.0.1:9001/sso/analog/find',
					   		"async":flagg,
					   		"dataSrc": function (myJson) {
					   			//alert(flagg);
			                 	if(myJson.flag){
			                 		flagg=true;
			                 		//alert(4);
									$("#testuenum").text("  "+myJson.data.length);
			                 	for(var i=0;i<myJson.data.length;i++){
			                 		//alert(myJson.data[i]);
			                 		var $ip=myJson.data[i].ip;
			                 		//alert(i+" "+now.attr('title')+"  "+$ip+"  "+now.attr('title').search($ip) )
			                    	if(now.attr('title').search($ip)>=0){
			                    		
			                    	}else{
			                    	 myJson.data.splice(i,1);
			                    	 i=i-1;
			                    	}
			                 	}
			                    
			                    return myJson.data;}else
			                    {
			                    	alert(myJson.message);return false;
			                    };


			                }
					   	};

						var table = $(this).DataTable( {
							"searching": false,"info": false,"lengthChange": false,"paging": false,"scrollX": false,"lengthMenu": false,"autoWidth":false,"deferRender":true,"ordering":true,"serverSide": false,
					   	"ajax": test,
					    "columns": [
			            { "data": "ip" },
			            { "data": "onlinestate","orderable":false,
						"createdCell": function (cell, cellData, rowData, row, col) {
			                    
			                    if ( cellData == 0 ) {
			                        $(cell).parent().css('color', 'pink')
			                    }else{
			                    	$(cell).parent().css('color', 'black')
			                    }
			                }
			        	},
			            { "data": "testStatus","orderable":false ,
						"createdCell": function (cell, cellData, rowData, row, col) {
			                    
			                    if ( cellData == 0 ) {
			                        $(cell).parent().css('color', 'pink')
			                    }else{

			                    }
			                }},
			            { "data": "testTime","orderable":false },
			             { "data": "pktReceivable" ,"orderable":false},
			             { "data": "pktReceived" },
			             { "data": "maxDelay" ,"orderable":false},
			              { "data": "avgDelay" ,"orderable":false},
			               { "data": "lastDelay" ,"orderable":false},
						   { "data": "丢包数" },
			            ]
			                   	});
						//alert($('.dataTables_empty').text());
						//setTimeOut
						
						//table.ajax.async(true).reload();
						//window.setInterval(function(){table.ajax.url( 'http://127.0.0.1:9001/sso/analog/find' ).load();},1000);
						//window.setInterval(function(){table.ajax.reload();},10000);

						
						function clx(){
							$.ajax({'url':'http://127.0.0.1:9001/sso/analog/find',

						        dataType:'json', success:function(res) {
						        	//alert(6);
						         table.ajax.reload();

						         clx(); //关键在这里，回调函数内再次请求Ajax

								},
						        //当请求时间过长（默认为60秒），就再次调用ajax长轮询
						        error:function(res){
						        clx();
						        }
						    })
						}
						 clx();	
						

						
					})

					

					}}
			$.ajax(getting5);
	});
	</script>
	<script type="text/javascript">
		//$('#retrun').click(function(){
		
		//window.location.href = "forms2.html"
		//})
		$('#stopTest').click(function(){
			getting5 = null;
		});
	   var getting2 = {
		        url:'http://127.0.0.1:9001/sso/config/getall',
		        dataType:'json',
		        success:function(res) {
				if(res.flag){
		        	 $.each(res.data,function(c,v){
		        		 var $list=new Array();
						 var $type="";
						 var style="";
						 if(v.testType=="0"){$type="招测"}else{$type="上报"};
						 if(c!=0){
						 style="color:white";
						 }
						 $list=v.ueList;
						 $('#show').append("<fieldset title="+$list.toString()+"><legend>"+
						 $type+"|上报个数"+v.numOfPktsPerTime+"|上报间隔"+v.intervalOfPerTime+"|上报周期"+v.intervalOfPerPkt+"|端口号"+v.portNum+"|数据长度"+v.dataLength+"|招测长度"+v.callLength+"</legend><table class='table'><thead style='"+style+"'><tr><th>终端ip</th><th>在线状态</th>	<th>测试状态</th><th>测试次数</th><th>应收包数</th><th>实收包数</th><th>平均时延</th><th>速度</th><th>最近时延</th></tr></thead></table></fieldset>");
		        	}) ;
					}else
					{
					alert(res.message);
					}}
					};
					
					
		var getting3 = {
				url:'http://127.0.0.1:9001/sso/analog/find',
				dataType:'json',
				success:function(data){
				
				if(data.flag){
				$.each(data.data,function(c,v){
					var $ip=v.ip;
					
					$('fieldset').each(function(){
					if($(this).attr('title').search($ip)>=0)
					{
					var style=""
					var onlinestate=""
					var testStatus=""
					if(v.onlinestate==1)
					{
					onlinestate="在线"
					}else{
					onlinestate="掉线"
					}
					if(v.testStatus==1)
					{
					testStatus="在线"
					}else{
					testStatus="掉线"
					}
					if(v.onlinestate==1&&v.testStatus==1)
					{style="color:green";}else{
					style="color:pink";
					}
					$(this).children('.table').append("					<tr id="+$ip+" style='"+style+"'><td name='ip'>"+$ip+"</td><td name='onlinestate'>"+onlinestate+"</td><td name='testStatus'>"+testStatus+"</td>	<td name='testTime' >"+v.testTime+"</td><td name='pktReceivable' >"+v.pktReceivable+"</td><td name='pktReceived' >"+v.pktReceived+"</td><td name='maxDelay' >"+v.maxDelay+"</td><td name='avgDelay' >"+v.avgDelay+"</td><td>"+v.lastDelay+"</td></tr>");
					
					}
					})
				
				})
				}else{alert(data.message)}
				}
		}
		//$.ajax(getting2);
		//$.ajax(getting3);
		
		var getting4 = {
				url:'http://127.0.0.1:9001/sso/analog/find',
				dataType:'json',
				success:function(data){
				if(data.flag){
				$.each(data.data,function(c,v){
				$('tr').each(function(){
				if(v.ip==$(this).attr('id'))
				{
				var style=""
				if(v.onlinestate==1&&v.testStatus==1)
					{style="color:green";}else{
					style="color:pink";
					}
				$(this).prop('style',style);
				$(this).children().each(function(){
				var c=$(this).attr('name');
				
					var onlinestate=""
					var testStatus=""
					if(v.onlinestate==1)
					{
					onlinestate="在线"
					}else{
					onlinestate="掉线"
					}
					if(v.testStatus==1)
					{
					testStatus="在线"
					}else{
					testStatus="掉线"
					}
					
				switch(c){
					case 'onlinestate':
						$(this).text(onlinestate);
						break;
					case 'testStatus':
						$(this).text(testStatus);
						break;
					case 'testTime':
						$(this).text(v.testTime);
						break;
					case 'pktReceivable':
						$(this).text(v.pktReceivable)
						break;
					case 'pktReceived':
						$(this).text(v.pktReceived)
						break;
					case 'avgDelay':
						$(this).text(v.avgDelay);
						break;
					case 'maxDelay':
						$(this).text(v.maxDelay);
						break;
					case 'lastDelay':
						$(this).text(v.lastDelay);
						break;
				}})
				
				}
				})
				})
				}
				
				else{alert(data.message)}}
				
				}
		
		
		//Ajax定时访问服务端，不断获取数据 ，1秒请求一次。
		
		//
		
		
		$('#stopTest').click(function(){
			$.ajax({
			url:'http://127.0.0.1:9001/sso/config/stoptest',
			dataType:'json',
			success:function(data){
			alert(data.message);
			var r=confirm("是否保存结果??");
			if (r==true)
			{
			    exportexcel();
			}
			else
			{
			    
			}

			}
			})
			});
	
	
	//window.setInterval(function(){$.ajax(getting4)},1000);
	
	
	$('#export').click(function(){
	
	exportexcel();

	})


	function exportexcel(){
	var $json='[';
	var $key='';
	var $value='';
	var head='';
	var data=new Date();
	$value=''+eval(data.getMonth()+"+"+'1')+data.getDate()+data.getHours()+data.getMinutes()+data.getSeconds()+".xlsx";
	$('#downloadA').prop('download',$value);
		$('tr').each(function(c1,v1){
			if(typeof($(this).parent().parent().attr('title'))=='undefined')
				{return true;}
				if(c1!=0 && $json.length!=1){
				
					$json+=",";
				}
				if(c1==0){return true;}
				head = '"规则id" :"'+c1+'",';
				$json = $json+"{"+head;
			$.each($(this).children(),function(c,v){
				
				//导出  将信息转化为json
				switch(c){
					case 0:
						$json+='"ip" :"'+$(v).text()+'",';
						break;
					case 1:
						$json+='"在线状态" :"'+$(v).text()+'",';
						break;
					case 2:
						$json+='"测试状态" :"'+$(v).text()+'",';
						break;
					case 3:
						$json+='"测试次数" :"'+$(v).text()+'",';
						break;
					case 4:
						$json+='"应收包数" :"'+$(v).text()+'",';
						break;
					case 5:
						$json+='"实收包数" :"'+$(v).text()+'",';
						break;
					case 6:
						$json+='"速度" :"'+$(v).text()+'",';
						break;
					case 7:
						$json+='"平均时延" :"'+$(v).text()+'",';
						break;
					case 8:
						$json+='"最近时延" :"'+$(v).text()+'",';
						break;
					case 9:
						$json+='"丢包数" :"'+$(v).text()+'"}';
						break;
			};
			
			});
		});
			$json+="]";
		//请在点击导出出完数据之后清空$json
		
		//alert($json);
		//excel
		 var tmpDown; //导出的二进制对象
		 
        function downloadExl(json, type) {
        	//根据json数据，获取excel的第一行(例如:姓名、年龄、性别)存至map
            var tmpdata = json[0];
            json.unshift({});
            var keyMap = []; //获取keys
            for (var k in tmpdata) {
                keyMap.push(k);
                json[0][k] = k;
            }
            
            
          	var tmpdata = [];
            json.map((v, i) => keyMap.map((k, j) => Object.assign({}, {
                v: v[k],
                position: (j > 25 ? getCharCol(j) : String.fromCharCode(65 + j)) + (i + 1)
            }))).reduce((prev, next) => prev.concat(next)).forEach((v, i) => tmpdata[v.position] = {
                v: v.v
            });
          	
          	//设置区域,比如表格从A1到D10
            var outputPos = Object.keys(tmpdata); 
            var tmpWB = {
                SheetNames: ['mySheet'], //保存的表标题
                Sheets: {
                    'mySheet': Object.assign({},
                        tmpdata, //内容
                        {
                            '!ref': outputPos[0] + ':' + outputPos[outputPos.length - 1] //设置填充区域
                        })
                }
            };
            
          	//创建二进制对象写入转换好的字节流
            tmpDown = new Blob([s2ab(XLSX.write(tmpWB,{bookType: (type == undefined ? 'xlsx':type),bookSST: false,type: 'binary'} ))], {type: ""  });//这里的数据是用来定义导出的格式类型
          	
            var href = URL.createObjectURL(tmpDown); //创建对象超链接
            document.getElementById("downloadA").href = href; //绑定a标签
            document.getElementById("downloadA").click(); //模拟点击实现下载
            setTimeout(function() { //延时释放
                URL.revokeObjectURL(tmpDown); //用URL.revokeObjectURL()来释放这个object URL
            }, 100);
        }
 
      	//字符串转字符流
        function s2ab(s) { 
            var buf = new ArrayBuffer(s.length);
            var view = new Uint8Array(buf);
            for (var i = 0; i != s.length; ++i) view[i] = s.charCodeAt(i) & 0xFF;
            return buf;
        }
      	
        //将指定的自然数转换为26进制表示。映射关系：[0-25] -> [A-Z]。
        function getCharCol(n) {
            let temCol = '',
            s = '',
            m = 0
            while (n > 0) {
                m = n % 26 + 1
                s = String.fromCharCode(m + 64) + s
                n = (n - m) / 26
            }
            return s
        }
		
		
		downloadExl(JSON.parse($json));
		
	
	}



		$('#clearData').click(function(){
		 if (confirm("你确定清空数据吗？")) {  
           $.ajax({
		   url:'http://127.0.0.1:9001/sso/config/clean',
		   success:function(data){
		   alert(data.message)
		   }
		   })  
        }  
        else {  
           return;
        }  
		})
		








		
	</script>
	
	
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="js/jquery.js"></script>
	<!-- jQuery UI -->
	<script src="js/jquery-ui.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="bootstrap/js/bootstrap.min.js"></script>

	<script src="vendors/form-helpers/js/bootstrap-formhelpers.min.js"></script>

	<script src="vendors/select/bootstrap-select.min.js"></script>

	<script src="vendors/tags/js/bootstrap-tags.min.js"></script>

	<script src="vendors/mask/jquery.maskedinput.min.js"></script>

	<script src="vendors/moment/moment.min.js"></script>

	<script src="vendors/wizard/jquery.bootstrap.wizard.min.js"></script>
	<script type="text/javascript" src="DataTables/datatables.min.js"></script>
	<!-- bootstrap-datetimepicker -->
	<link href="vendors/bootstrap-datetimepicker/datetimepicker.css"
		rel="stylesheet">
	<script
		src="vendors/bootstrap-datetimepicker/bootstrap-datetimepicker.js"></script>

	<link href="css/bootstrap-editable.css" rel="stylesheet" />
	<script src="js/bootstrap-editable.min.js"></script>

	<script src="js/custom.js"></script>
	<script src="js/forms.js"></script>

</body>

</html>